<div class="form-signin">
  <input id="input-login" class="form-control" placeholder="Login" required="" autofocus="">
  <input id="input-password" class="form-control" type="Password" placeholder="Password" required="">
  <div id="error-msg" class="alert alert-danger">Authorization error</div>
  <button id="btn-login" class="button btn btn-outline-primary btn-block">
    <span class="oi oi-account-login"></span>
    <span style="margin-left: 5px">Sign in</span>
  </button>
</div>

<script>
  $('.form-control').keypress(function (e) {
    if (e.which == 13) signIn();
  });
  $('#btn-login').click(signIn)
</script>