<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    Express Template
  </a>
  <div id="version" style="color: #aaa; width: 100%; padding-left: 20px">
  </div>
  <ul class="navbar-nav px-3">

    <li class="nav-item text-nowrap">
      <button id="sign-out" class="btn btn-outline-light my-2 my-sm-0" type="submit">
        <span class="oi oi-account-logout"></span>
        <span style="margin-left: 5px">Sign out</span>
      </button>
    </li>
  </ul>
</nav>

<div class="wrapper" style="align-items: stretch;">

  <!-- Sidebar -->
  <nav id="sidebar" class="bg-dark navbar-dark">
    <ul class="navbar-nav flex-column">
      <li id="menu-item-status" class="nav-item active">
        <span class="oi oi-bar-chart"></span>
        <a class="nav-link" href="#main/status">Status</a>
      </li>
      <li id="menu-item-conf" class="nav-item">
        <span class="oi oi-cog"></span>
        <a class="nav-link" href="#main/conf">Configuration</a>
      </li>
    </ul>
  </nav>

  <script>
    function highlightJson(json) {
      json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
      return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
          if (/:$/.test(match)) {
            cls = 'key';
          } else {
            cls = 'string';
          }
        } else if (/true|false/.test(match)) {
          cls = 'boolean';
        } else if (/null/.test(match)) {
          cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
      });
    }
  </script>

  <!-- Page Content -->
  <div id="content">
    <div id="view"></div>
  </div>

</div>

<script>
  $('#sign-out').click(signOut);
  $('#sidebar .nav-item').removeClass('active');
  $('#menu-item-' + g.view).addClass('active');
  axios.get('/version').then(function(res){
    $('#version').text("v" + res.data.version);
  });
</script>